
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
   
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #cb882a9d;
    background-image: url('./bg.jpg');
  background-repeat: no-repeat;
 background-size: 1920px 720px;
background-position:0px 0px;
  
}

nav{
    background:#ad8b7300;
    height: 80px;
    width: 100%;
    position: fixed;
  width: 100%;
  top: 0;
  left: 0;
 
}

label.logo{
    /* color:black; */
    color: #F9E3CC;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 40px;
}

nav ul li {
    background-color:#F9E3CC;
    font-size: 17px;
   background-size: 50px;

    padding: 7px 10px;
  

    border-radius: 10px;
}
.active1{
    padding: 20px;
    color: #785C3E;
}
.active2{
    padding: 10px;
}
.active3{
    padding: 20px;
}
.active4{
    color: #785C3E;
    padding: 20px;
}
.navbar{
    color: #785C3E;
    font-family: 'Pacifico', cursive;
z-index: 10px;

}
/* a.active, a:hover{
    color:#785C3E;
    transition: .5s;
} */

.checkbtn{
    font-size:20px;
    color:#F9E3CC;
    float:right;
line-height: 80px;
margin-right:40px;
cursor:pointer;
display:none;
}

#check{
    display:none;
}

@media(max-width: 983px){
    label.logo{
        font-size: 35px;
        padding-left:50px;
    }
    nav ul li a {
        font-size:17px;}
}
@media(max-width: 883px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width:100%;
        height:100vh;
        background:#5A2B00;
        top:80px;
        left:0;
        text-align:center;
        
    }
    nav ul li{
        display:block;
        margin-top: 20px;
    }
    nav ul li a{
        font-size:20px;
}
}
.wrap{
    max-height: 2000px;
    border: black;
    display: flex;
    overflow-x:auto;
    padding-top: 30px;
}
 
.wrap::-webkit-scrollbar{
    width: 0;
}

.wrap .item{
    min-width: 300px;
    height: 300px;
    line-height: 110px;
    text-align: center;
    
    background-color:#785C3E;
    margin-top:0px;
    margin-right: 2px ;
    margin-left: 2px;
    margin-bottom: 50px;


}

.box{
    background-color: #F9E3CC;
    height: 300px;
    width: 1350px;
    
    padding: 15px;
    margin: 20px;
    margin-top:150px ;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    z-index: -100;


font-family: 'Pacifico';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 280px;
text-align: center; 

color: #5A2B00;
box-shadow:-40px -40px 20px#AD8B73 ;
  }


  .centered {
    color: #F9E3CC;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 72px;
    font-family: 'Raleway', sans-serif;
  }

  .dropbtn {
  background-color: #F9E3CC;
  color:#785C3E;
  padding: 5px;
  font-family: 'Pacifico', cursive;
  font-size: 17px;
    border: none;

}

.dropdown {
  position: relative;
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  
  background-color: #F9E3CC;
  min-width: 115px;
  /* padding: 5px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    top:150px;
  color:#785C3E;
  padding: 5px 10px;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {background-color: #FFFBE9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color:#F9E3CC;}



/* -------------cat1------------------ */

.cat1{
    width: 100%;
    margin-top: 20px;
   
    padding-top: 750px;

    
}
h1{
    font-size: 36px;
    font-weight: 800;

}

.categ{
    transition: all 0.3s ease;

}


.centered{
    font-weight: 1000;
    font-size: 80px;
}




.srav{
    padding-left: 300px;
    padding-top: 10px;
    font-size: 100px;
}

